[Unit]
Description=Animation Service
After=network.target

[Service]
ExecStart=/home/fsi/gangway/start.sh
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
